# UI
streamlit

# LLM Libraries
openai
autogen
autogen-agentchat
autogen-ext[openai]
google-generativeai
ag2[gemini]
ag2[openai]

# Data Processing
beautifulsoup4
ckip-transformers
jieba
gensim
numpy==1.23.0
nltk
pymupdf
pandas
scikit-learn
torch>=1.13.0
transformers>=4.30.0

# Visualization
matplotlib
plotly
wordcloud
